@font-face {
    font-family: 'PixelSplitter';
    src: local('PixelSplitter-Bold'),
        url('PixelSplitter-Bold.woff2') format('woff2'),
        url('PixelSplitter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

