@font-face {
    font-family: 'PF Agora Slab Pro';
    src: local('PFAgoraSlabPro-Medium'),
        url('PFAgoraSlabPro-Medium.woff2') format('woff2'),
        url('PFAgoraSlabPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

